
@{
    ViewBag.Title = "Developers";
}
<br />
<br />
<br />

<div style="background-color:black;height:80%;width:100%;display:flex;overflow:hidden;">
    <section style="text-align:center;border-style:solid;border-color:black;background-color:burlywood;height:100%;width:35%;margin:10px;padding:10px;font-size:32px;">
        <img src="~/yesh/img/sa.JPG" style="height:300px;width:95%" />
        <p style="font-size: 28px;"> SAKSHI NAKARMI</p>
        <p style="font-size:18px;">Hey! I am  Sakshi Nakarmi.In this project I have done work realted to designs.</p>

    </section>
    <section style="text-align:center;border-style:solid;border-color:black;background-color:rosybrown;height:100%;width:35%;margin:10px;padding:10px;font-size:32px;">
        <img src="~/yesh/img/ss.jpg" style="height: 300px; width: 98%;">
        <p style="font-size:28px;">SANDHYA PHUYAL</p>
        <p style="font-size:18px;">Hey! I am Sandhya Phuyal.In this project I have done work related to database.</p>

    </section>
    <section style="text-align:center;border-style:solid;border-color:black;background-color:burlywood;height:100%;width:35%;margin:10px;padding:10px;font-size:32px;">

        <img src="~/yesh/img/h.JPG" style="height: 300px; width: 98%;">

        <p style="font-size:24px;">HIMSIKHA BHANDARI</p>
        <p style="font-size:18px;">Hey! I am Himsikha Bhandari.In this project I have done work related to database.</p>


    </section>
    <section style="text-align:center;border-style:solid;border-color:black;background-color:rosybrown;height:100%;width:35%;margin:10px;padding:10px;font-size:32px;">
        <img src="~/yesh/img/s.jpg" style="height:300px;width:95%">
        <p style="font-size:28px;">BISHAKHA PRADHAN</p>
        <p style="font-size:18px;">Hey! I am Bishakha Pradhan.In this project Ihave done work related to designs.

    </section>
</div>
</section>
<section style="text-align:center;border-style:double;border-color:black;margin:10px;background-color:dimgray;border-radius:10px;height:50px;width:20%;font-size:24px;">
    @Html.ActionLink("GO TO MAINPAGE", "MAIN", "templete" )
</section>
