
@{
    ViewBag.Title = "Home";
}




<!-- Header -->
<style>
    .body{
        background-color:firebrick;

         }
</style>
<header id="header">
    <div class="intro">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="intro-text">
                     
                        <h1>P@rik@r </h1>
                        <p>Reservations:+977 9860123456</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>