
@{
    ViewBag.Title = "Login";
}
<br />
<br />
<br />


    <body style="background-color:cornflowerblue;">

        <center>
            <section align="center" style="text-align:center;border-style:solid;border-color:black;background-color:firebrick;height:64%;width:35%;margin:10px;padding:10px;font-size:32px;">
                <p style="font-size: 32px;color:aquamarine;"> LOGIN PAGE</p>
                <p style="font-size:18px;color:paleturquoise;">Please Login First!</p>
                <img src="~/yesh/admin.jpg" />
                &nbsp; <div style="font-size:20px;background-color:orange;width:400px;height:60px;border-radius:10px;margin:10px;padding:10px;border-style:double;border-color:black;">
                 <center> @Html.ActionLink("GO TO LOGINPAGE", "Login", "Account")</center>
                </div>
            </section>
        </center>
        

</body>