
@{
    ViewBag.Title = "Menu";
}

<!-- Restaurant Menu Section -->
<div id="restaurant-menu" style="background-color:orangered;">
    <div class="container">
        <div class="section-title text-center">
            <h2 style="color: white; ">Menu</h2>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="menu-section" style="background-color:tomato; color: aliceblue; border-color: black; border-style: solid; border-width: 5px; width: 104%;">
                    <h2 class="menu-section-title" style="color:aquamarine;">Breakfast & Starters</h2>
                    <div class="menu-item">
                        <div class="menu-item-name">Samosa</div>
                        <div class="menu-item-price"> Rs.90 </div>
                        <div class="menu-item-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam. </div>
                    </div>
                    <div class="menu-item">
                        <div class="menu-item-name">salad</div>
                        <div class="menu-item-price"> Rs.200 </div>
                        <div class="menu-item-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam. </div>
                    </div>
                    <div class="menu-item">
                        <div class="menu-item-name">Wild Mushroom Arancini</div>
                        <div class="menu-item-price"> Rs.200 </div>
                        <div class="menu-item-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam. </div>
                    </div>
                    <div class="menu-item">
                        <div class="menu-item-name">Mozzarella Sticks</div>
                        <div class="menu-item-price"> Rs.290 </div>
                        <div class="menu-item-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam. </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="menu-section" style="background-color:goldenrod;color:aliceblue;border-color:black;border-style:solid;border-width:5px;width:104%;">
                    <h2 class="menu-section-title" style="color:mediumaquamarine;">Main Course</h2>
                    <div class="menu-item">
                        <div class="menu-item-name">Roast Stuffed Chicken</div>
                        <div class="menu-item-price"> Rs.500 </div>
                        <div class="menu-item-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam. </div>
                    </div>
                    <div class="menu-item">
                        <div class="menu-item-name">Chicken & Mushroom Pasta</div>
                        <div class="menu-item-price"> Rs.200 </div>
                        <div class="menu-item-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam. </div>
                    </div>
                    <div class="menu-item">
                        <div class="menu-item-name">Beef Lasagne</div>
                        <div class="menu-item-price"> Rs.300 </div>
                        <div class="menu-item-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam. </div>
                    </div>
                    <div class="menu-item">
                        <div class="menu-item-name">Chicken Goujons</div>
                        <div class="menu-item-price"> Rs.800 </div>
                        <div class="menu-item-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam. </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="menu-section" style="background-color:limegreen;color:aliceblue;border-color:black;border-style:solid;border-width:5px;width:104%;">
                    <h2 class="menu-section-title" style="color:aquamarine;">Dinner</h2>
                    <div class="menu-item">
                        <div class="menu-item-name">Sesame-Ginger Beef</div>
                        <div class="menu-item-price"> Rs.450 </div>
                        <div class="menu-item-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam. </div>
                    </div>
                    <div class="menu-item">
                        <div class="menu-item-name">Crispy Fried Chicken</div>
                        <div class="menu-item-price"> Rs.600 </div>
                        <div class="menu-item-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam. </div>
                    </div>
                    <div class="menu-item">
                        <div class="menu-item-name">Mongolian Shrimp & Broccoli</div>
                        <div class="menu-item-price"> Rs.400 </div>
                        <div class="menu-item-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam.. </div>
                    </div>
                    <div class="menu-item">
                        <div class="menu-item-name">Spicy Coconut Salmon</div>
                        <div class="menu-item-price">Rs.450 </div>
                        <div class="menu-item-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam. </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="menu-section" style="background-color:palevioletred;color:aliceblue;border-color:black;border-style:solid;border-width:5px;width:104%;">
                    <h2 class="menu-section-title" style="color:aquamarine;">Desserts</h2>
                    <div class="menu-item">
                        <div class="menu-item-name">Vanilla Flavored Cake</div>
                        <div class="menu-item-price"> Rs.90 </div>
                        <div class="menu-item-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam. </div>
                    </div>
                    <div class="menu-item">
                        <div class="menu-item-name">Red Velvet Cake</div>
                        <div class="menu-item-price">Rs.120 </div>
                        <div class="menu-item-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam. </div>
                    </div>
                    <div class="menu-item">
                        <div class="menu-item-name">White Forest Cake</div>
                        <div class="menu-item-price">Rs.90 </div>
                        <div class="menu-item-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam. </div>
                    </div>
                    <div class="menu-item">
                        <div class="menu-item-name">Salty Cake</div>
                        <div class="menu-item-price"> Rs.60 </div>
                        <div class="menu-item-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam. </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Gallery Section -->
<div id="gallery">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6 col-md-3">
                <div class="gallery-item"> <img src="~/templete/img/gallery/01.jpg" class="img-responsive" alt=""></div>
            </div>
            <div class="col-xs-6 col-md-3">
                <div class="gallery-item"> <img src="~/templete/img/gallery/02.jpg" class="img-responsive" alt=""></div>
            </div>
            <div class="col-xs-6 col-md-3">
                <div class="gallery-item"> <img src="~/templete/img/gallery/03.jpg" class="img-responsive" alt=""></div>
            </div>
            <div class="col-xs-6 col-md-3">
                <div class="gallery-item"> <img src="~/templete/img/gallery/04.jpg" class="img-responsive" alt=""></div>
            </div>
        </div>
    </div>
</div>
