
@{
    ViewBag.Title = "Special";
}

<!-- Features Section -->
<div id="features" class="text-center" style="background-color:#bfbf3f;">
    <div class="container" style=" background-color: firebrick;">
        <div class="section-title">
            <h2>Our Specials</h2>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <div class="features-item" style="background-color:orange;border-color:black;border-width:3px;border-radius:10px;border-style:solid;">
                    <h3>Cheese Macronni Special</h3>
                    <img src="~/yesh/macronii.jpg" class="img-responsive" alt="">
                    <p style="color:white;">Cheesy, gooey, creamy and oh-so-delicious… you know what we’re describing – mac and cheese! One of the most popular comfort foods (worldwide) is so well-liked.</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4" >
                <div class="features-item" style="color:aquamarine;" >
                    <h3 style="color:aquamarine;">Burger</h3>
                    <img src="~/yesh/burger.jpg" class="img-responsive" alt="">
                    <p>A burger is a great snack.It is eaten worldwide with great interest. Every age group likes it. Burger is a very delicious food item.</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="features-item" style="background-color:orange;border-color:black;border-width:3px;border-radius:10px;border-style:solid;">
                    <h3>Cheese Mushroom Pizza</h3>
                    <img src="~/yesh/pizza.jpg" class="img-responsive" alt="">
                    <p style="color:white;">A Pizza is a great snack.It is eaten worldwide with great interest. Every age group likes it. Pizza is a very delicious food item.</p>
                </div>
            </div>
        </div>
    </div>
</div>